<hader>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #606470;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/movies"><i class="fa-solid fa-clapperboard"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Find by Genre
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/movies/action">Action/Adventure</a></li>
                  <li><a class="dropdown-item" href="/movies/history">History/Biography</a></li>
                  <li><a class="dropdown-item" href="/movies/thriller">Thriller/Mystery</a></li>
                  <li><a class="dropdown-item" href="/movies/comedy">Comedy</a></li>
                  <li><a class="dropdown-item" href="/movies/crime">Crime</a></li>
                  <li><a class="dropdown-item" href="/movies/romance">Romance</a></li>
                </ul>
              </li>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 add">
                <li class="nav-item">
                  <a class="nav-link active link-light" aria-current="page" href="/movies/new">Add Movie</a>
                </li>
              </ul>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 add">
                <li class="nav-item">
                  <a class="nav-link active link-light" aria-current="page" href="https://tv.apple.com/?ign-itscg=MC_20000&ign-itsct=atvp_brand_omd&mttn3pid=Google%20AdWords&mttnagencyid=a5e&mttncc=US&mttnsiteid=143238&mttnsubad=OUS2019801_1-566295249009-c&mttnsubkw=75222244984__idXQ476O_&mttnsubplmnt="><i class="fa-brands fa-apple"></i></a>
                </li>
                <li>
                    <a class="nav-link active link-light" aria-current="page" href="https://www.hbomax.com/?utm_id=sa%7c71700000067030777%7c58700006926526610%7cp62287911530&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr-JYg3wburmx0GC4RkDorfxvIpkex6AF9F_QGxZXu8Svoz1kpIG_6UaAp7UEALw_wcB&gclsrc=aw.ds"><img src="/images/hbo.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.netflix.com/"><img src="/images/netflix.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.hulu.com/welcome?orig_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="images/hulu.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.paramountplus.com/?gclsrc=aw.ds&ds_rl=1289065&ref=__iv_p_1_g_121359828400_w_aud-390522681029:kwd-1212634995761_h_9028301_ii__d_c_v__n_g_c_524115013420_l__t__e__r__vi__&ftag=PPM-02-10aeg8j&vndid=google$null$null$paramount%20%2B%20sign%20up&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr-RW7QnTA6cqAt3MwoRu8TuLte6G9Wh1uyIoeifr7ueg1yV2EtBMQkaAgFlEALw_wcB&gclsrc=aw.ds&_ivgu=3f4934d8-09ce-475d-ada4-c8a7f2113b36"><img class="paramount" src="/images/paramount.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.vudu.com/content/browse/marketing/watch-movies?cid=SEMGoogle5787349473&scid=207983839&kwid=13645845799&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr90CHLdRghPiioROpy20bpRVnOvKATHF7jO52A-Gb9uguALgHk9eq8aAvrEEALw_wcB"><img class="vudu" src="/images/vudu.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.starz.com/us/en/buy?gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr9Fzn0abhRUSCml42hF0A8S1r1m--2Eny71eb89DXxbN7yV5LTZaFkaAr7qEALw_wcB&gclsrc=aw.ds&utm_campaign=8545672057_593569764192_kwd-310603070156&utm_source=google"><img class="starz" src="images/starz.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="https://www.amazon.com/hp/video/offers/intercept/ref=atv_hm_hom_redirect?_encoding=UTF8&dvah=intercept&node=2858778011"><img class="amazon" src="images/amazon.png"></a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </nav>
</hader>