.add {
    margin-left: 2em;
}
.dropdown {
    margin-left: 2em;
}
.intro {
    text-align: center;
    margin-bottom: 2em;
}
.card {
    display: inline-block;
    margin-left: 4em;
    transition: 0.5s all ease-in-out;
}
.add-h2 {
    margin-top: 1.5em;
    font-family: 'Aboreto', cursive;
}
a {
    text-decoration: none;
}
.intro {
    font-size: 2.5em;
    font-family: 'Aboreto', cursive;
}
.show-title {
    text-align: center;
    
}
.show-item {
    text-align: center;
}
.back-btn {
    text-align: center;
}
.show-img {
    margin-top: 2em;
}
.h3-update {
    font-family: 'Aboreto', cursive; 
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.update-btn {
    margin-top: 1.5em;
}
.genre-title {
    font-family: 'Aboreto', cursive;
    margin-top: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}
.card:hover {
    transform: scale(1.08);
}


@media screen and (max-width:767px){
    .card {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 90vw;
        
    } 
    .card img {
        max-width: 135px;
       
    }
    .card-body p, h5{
        
        display: none;
    }
    button {
        max-width: 95px;
        max-height: 35px;
    }
    .intro {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1820px){
    .card{
        margin-left: 1em;
        align-items: center;
    }
}

@media screen and (max-width: 300px) {
    .card {
        max-width: 100px;
    }
}
